body {
  color: rgb(62, 91, 134);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.weather {
  max-width: 600px;
  margin: 30px auto;
  padding: 3px 30px 30px 20px;
  border: 5px solid rgb(5, 165, 85);
  border-radius: 5px;
}

h1 {
  margin: 20px 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

img {
  max-width: 80px;
  margin: 5px auto;
  position: relative;
}

ul {
  padding-left: 5px;
  list-style: none;
}

.col-6 {
  width: fit-content;
}
footer {
  font-size: 12px;
  max-width: 600px;
  margin: 10px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.temperature-box {
  margin: 20px 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  position: relative;
  top: -8px;
}

.temperature-box .unit {
  font-size: 20px;
}

.unit .active {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 17px;
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temperature {
  font-size: 15px;
}

.welcome {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  color: rgb(5, 165, 85);
}
